<nav class="h-full flex items-center bg-banner bg-cover bg-repeat-round bg-origin-border">
    <div class="grid grid-cols-1 justify-items-start">
        <div class="py-4 flex flex-row">
            <img class="w-18 m-auto pl-24 gap-y-8" src="https://i.imgur.com/yLhYGvQ.jpg" alt="Logo Solution IPS">
            <p class="text-6xl pl-20 w-24">{{ titulo }}</p>
        </div>
        <div class="grid grid-cols-2 pl-8 gap-4">
            <div class="flex flex-row items-center">
                <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="Logo Datos Paciente">
                <h1 class="text-3xl pl-4">Datos Paciente</h1>
            </div>
            <div class="flex flex-row items-center">
                <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="Logo Historia Clinica">
                <h1 class="text-3xl pl-4">Historia Clinica</h1>
            </div>
        </div>
    </div>
    
</nav>