<div class="flex gap-x-2 items-center">
    <select class="form-select block w-30 mt-1 text-black pl-2 h-10 bg-gray-200" id="afp">
        <option>Tipo Documento</option>
        <option>Cedula de Ciudadania</option>
    </select>
    <input type="text" class="form-input rounded-full text-black pl-2 h-10 border-solid border-black border-2"/>
    <img class="w-11" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="Logo Inicio Sesion">
</div>
<div class="flex flex-row pt-14 items-center mx-10 gap-4">
    <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="Logo Inicio Sesion">
    <h1 class="text-3xl">Observaciones</h1>
</div>
<textarea class="form-textarea block w-96 py-40 bg-gray-200 px-2 my-4 ml-10 pr-26" rows="" cols=""></textarea>

<div class="grid justify-items-end py-10 gap-y-4 pr-4">  
    <div class="flex flex-row">
        <button class="bg-blue-500 text-white active:bg-blue-400 font-bold uppercase text-px px-6 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">Editar</button>
        <img class="w-10 h-10" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="Logo Inicio Sesion">
    </div>
    <div class="flex flex-row">
        <button class="bg-blue-500 text-white active:bg-blue-400 font-bold uppercase text-px px-6 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">Guardar</button>
        <img class="w-10 h-10" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="Logo Inicio Sesion">
    </div>
</div>

