<div class="grid grid-rows-35/65 h-screen">

    <app-nav-bar class="" [titulo]='titulo'></app-nav-bar>

  <div class="grid grid-cols-2">
    <img class="w-96 m-auto" src="https://raw.githubusercontent.com/xAGH/SolutionIPS/main/frontend/src/assets/logo.jpg" alt="">

    <div class="flex items-center flex-col justify-center">
        <div *ngFor="let opcion of opciones" class="item">
            <img src="../../../assets/{{ opcion.ruta }}" alt="Servicio">
            <p class="text">{{ opcion.nombre }}</p>
        </div>
    </div>
   </div>
</div>
