.item{
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}

.item p{
    font-size:1.3rem;
    margin-left:3rem;
}

.item img{
    width: 45px;
}

.titulo{
    color:red;
}
