<div class="grid grid-rows-2 grid-cols-1">

    <app-nav-bar class="h-[40vh]" [titulo]='titulo'></app-nav-bar>

   <div class="grid grid-cols-2">
    <img class="w-96 m-auto" src="https://raw.githubusercontent.com/xAGH/SolutionIPS/main/frontend/src/assets/logo.jpg" alt="">

    <div class="flex align-start flex-col justify-center items h-1/3">
        <div *ngFor="let opcion of opciones" class="item">
            <img src="../../../assets/{{ opcion.ruta }}" alt="Servicio">
            <p class="text">{{ opcion.nombre }}</p>
        </div>
    </div>
   </div>
</div>