<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESIONES - ADSI</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('productos')}}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('sucursales')}}">Sucursales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('interfaz_login')}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('interfaz_registro')}}">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Cerrar sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <table class="table">
  
    <tbody>
      {% for producto in productos_ %}
        <tr>
          <td>{{producto[0]}}</td>
          <td>{{producto[1]}}</td>
          <td> <img src="{{url_for('static', filename='img/')}}{{producto[2]}}"> </td>
          <td><a href="{{url_for('procesar_compra', id= producto[3])}}">Comprar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



    <script src="./static/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script src="./static/js/popper.min.js"  crossorigin="anonymous"></script>
    <script src="./static/js/jquery-3.6.0.min.js"  crossorigin="anonymous"></script>

</body>
</html>



