<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body class="login">
        <div class="principal">
            <h1>Bienvenido</h1><br><br>
            <h2>Inicio de sesion</h2>
            <br><br>
            <form action="">
                <div>
                    <input class="inputs" name="email" type="email" required placeholder="   Ingrese su correo electronico">
                </div>
                <div>
                    <input class="inputs" name="contraseña" type="password" required placeholder="   Ingrese su contraseña">
                </div>
                <br>

                <button type="submit">Login</button>
                <br>
                <a href="registro.html">¿No tienes cuenta? Registrate</a>
            </form>
        </div>
        <div class="lateral"></div>
        <div class="lateral2"></div>
        <div class="arriba"></div>
        <div class="abajo"></div>

    </body>
</html>