<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body class="registro">
        <div class="principal">
            <h1>Bienvenido</h1><br><br>
            <h2>Formulario de registro</h2>
            <br><br>
            <form>
                <input class="inputs" name="nombres" type="text" required placeholder="   Ingrese su nombre completo">
                <input class="inputs" name="documento" type="text" required placeholder="   Ingrese su numero de documento">
                <input class="inputs" name="email" type="email" required placeholder="   Ingrese su correo electronico">
                <input class="inputs" name="contrasena" type="password" required placeholder="   Ingrese una contraseña">
                <br>
                <button type="submit">Registro</button>
                <br>
                <a href="login.html">¿Ya tienes una cuenta? Inicia Sesion</a>
            </form>
        </div>
        <div class="lateral"></div>
        <div class="lateral2"></div>
        <div class="arriba"></div>
        <div class="abajo"></div>

    </body>
</html>