{% extends "layout.html" %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    alert("{{message}}");
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="principal">
        <h1>Bienvenido</h1><br><br>
        <h2>Formulario de registro</h2>
        <br><br>
        <form action="{{ url_for('registro_cliente') }}" method="POST">
            <input class="inputs" name="nombres" type="text" required placeholder="Ingrese el nombre completo">
            <input class="inputs" name="telefono" type="number" required placeholder="Ingrese el número de teléfono">
            <input class="inputs" name="saldo" type="number" required placeholder="Ingrese el saldo pendiente">
            <br>
            <script>recuperarDatos()</script>
            <input type="submit" value="Registro">  
            <br>
        </form>
    </div>
    <div class="lateral"></div>
    <div class="lateral2"></div>
    <div class="arriba"></div>
    <div class="abajo"></div>
{% endblock %}