{% extends "layout.html" %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{message}}");
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
    {% if data or consulta%}
        <form action="{{ url_for('ver_clientes') }}">
            {% if consulta == None or consulta == "" %}
                <input type="text" name="query" placeholder="Buscar...">
            {% else %}
                <input type="text" name="query" value="{{consulta}}" >
            {% endif %}
            <input type="submit" value="🔍">
        </form>
            <a href="{{ url_for('ver_clientes') }}">Limpiar</a>
            <a href="{{ url_for('index') }}">Volver</a>
        {% if largor > 0 %}    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>TELÉFONO</th>
                    <th>SALDO</th>
                    <th>EDITAR</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td>{{ item[3] }}</td>
                        <td><a href="http://127.0.0.1:5000/editar_cliente?id={{ item[0] }}">✏️</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No se encontraron clientes con ese criterio de búsqueda.</p>   
        {% endif %}
    {% else %}
        <h1>No hay clientes registrados.<a href="{{ url_for('registrar_cliente') }}">Registra un cliente.</a></h1>
    {% endif %}
{% endblock %}