*{
    padding:0px;
    margin:0px;
    font-family: monospace, arial;
}

body{
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
}   

label{
    font-size: 1.5em;
    margin:2%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color:rgba(255, 255, 255, 0.4);
}

input{
    font-size: 1.3em;
    width:90%;
    padding:2% 0px 2% 0px;
    margin: 2% 0px 3% 0px;
    border: 1px solid #547C8E;
    outline: none;
}

input:focus{
    border: 2px solid #547C8E;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.btn-enviar{
    width: 40%;
    border: 1px solid #547C8E;
}

.btn-enviar:hover{
    background-color:#547C8E;
}
