<div class="main">
    <nav class="navbar">
        <p>Calculadora</p>
    </nav>
    <div class="container">
        <input class="input" type="number" placeholder="Valor 1" [(ngModel)]="valor1">
        <input class="input" type="number" placeholder="Valor 2" [(ngModel)]="valor2">
        <div class="btns">
            <button [class]="classOperacion" [disabled]="estadoOperacion()" (click)='sumar()'>Sumar</button>
            <button [class]="classOperacion" [disabled]="estadoOperacion()" (click)='restar()'>Restar</button>
            <button [class]="classOperacion" [disabled]="estadoOperacion()" (click)='multiplicar()'>Multiplicar</button>
            <button [class]="classDivision" [disabled]="estadoDivision()" (click)='dividir()'>Dividir</button>
        </div>
    </div>
    
    <p class="resultado"><strong>Resultado: {{ resultado }}</strong></p>
    
</div>