{% extends 'layout.html' %}

{% block body %}
    {% if actualizacion %}
        <script>
            alert("Datos actualizados correctamente");
            window.location = '{{url_for("interfaz_cuenta")}}'
        </script>
    {% endif %}
        <section class="perfil-usuario">
        <div class="usuario-header">
            <div class="usuario-portada">
                <div class="usuario-avatar">
                    <img src="https://thumbs.dreamstime.com/z/icono-del-avatar-usuario-bot%C3%B3n-s%C3%ADmbolo-perfil-plano-de-la-persona-vector-131363829.jpg" alt="img-avatar">
                </div>
                <a class='cambiar_foto' href="{{url_for('actualizar')}}">Cambiar datos</a>
            </div>
        </div>
        <div class="usuario-body">
            <div class="usuario-bio">
                <h3 class="titulo">{{nombre}}</h3>
                <p class="texto">     </p>
            </div>
            <div class="usuario-footer">
                <ul class="lista-datos">
                    <li><i class="texto"></i> Direccion de usuario: {{direccion}}</li>
                    <li><i class="texto"></i> Telefono: {{celular}}</li>
                    <li><i class="texto"></i> Correo: {{correo}}</li>
                    <br>
                    <a class="btn_productos" href="{{url_for('ver_productos')}}">Mis Productos</a>
                </ul>
            </div>

        </div>
    </section>

{% endblock %}
