{% extends 'layout.html' %}

{% block body %}

    {% if mismo %}
        <script>
            alert("Para hacer una solicitud de trueque, debes haber iniciado sesión.");
            window.location = '{{url_for("index")}}'
        </script>
    {% endif %}

    <div class="header">
        <div>
            <center>
            <h2>VITRINA</h2>
            </center>
        </div>

    </div>
    <div class="flex-contenedor">

    {% if permitir%}
        {% for i in range(largor) %}
            {% if productos[i][6] == '1' %}
                <div class="item"> 
                    <h3>{{productos[i][9]}}: {{productos[i][1]}}</h3><br>
                    <img class="img" src="../static/imgs_productos/{{productos[i][10]}}"><br>
                    <p>{{productos[i][2]}}</p><br>
                    <h3>Cambio por: {{productos[i][4]}}</h3><br>
                    {% if user %}
                    <a class="btn_trueque" href="http://127.0.0.1:5000/solicitudtrueque/{{productos[i][0]}}">TRUEQUE</a>
                    {% else %}
                    <a class="btn_trueque" href="http://127.0.0.1:5000?i=True">TRUEQUE</a>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="item">
            <h3>En este momento no hay productos para mostrar :(</h3>
        </div>
    {% endif %}

    </div>

{% endblock %}