<div class="grid grid-cols-2">

    <img class="w-96 m-auto" src="https://i.imgur.com/yLhYGvQ.jpg" alt="Logo Solution IPS">
    
    <section class="grid py-20 pl-24 bg-gray-200 px-20 my-4 mx-16">
        <div class="mr-px flex flex-col gap-y-6 justify-center">
            <div class="flex flex-row py-2 justify-center items-center gap-4 border-solid border-black border-b-2">
                <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="Logo Inicio Sesion">
                <h1 class="text-5xl">Iniciar Sesión</h1>
            </div>

            <label for="usuario" class="text-center text-3xl">Usuario</label>
            <input type="text" class="form-input text-black pl-10 h-10 bg-gray-300 rounded-full" id="usuario" placeholder="Ingrese su usuario"/>

            <label for="password" class="text-center text-3xl">Contraseña</label>
            <input type="password" class="form-input text-black pl-10 h-10 bg-gray-300 rounded-full" id="password" placeholder="Ingrese su contraseña" />
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-black-700 rounded-full">Ingresar</button>
        </div>
    </section>
</div>