{% extends 'layout.html' %}

{% block body %}
<div class="container">

    <form id="signup" action="http://127.0.0.1:5000/actualizar_datos/{{idusuario}}" method="POST">
    
        <div class="header">
        
            <h3>ACTUALIZAR DATOS</h3>
            
        </div>
        
        <div class="sep"></div>
    
        <div class="inputs">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required value="{{datos[0]}}">
            <label for="email">Email: </label>
            <input id="email" type="email" name="email" id="email" required value="{{datos[1]}}">
            <label for="celular">Celular: </label>
            <input type="text" name="celular" id="celular" required value="{{datos[2]}}">
            <label for="direccion">Dirección: </label>
            <input type="text" name="direccion" id="direccion" required value="{{datos[3]}}">
            <input type="submit" value="Actualizar Datos">
        
        </div>
    
    </form>

</div>

{% endblock %}