<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tittle }}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/logo.jpeg')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<header>
    <div class=cb>
        <img class="img1" src="{{url_for('static', filename='images/logo.jpeg')}}">
        <h1 class="titulo"><a href="{{url_for('index')}}">GET IT.</a></h1>
        <div>
        <h4>"Tu comunidad  de intercambio " 
            <br> ¿Qué esperas?
            <br>¡¡Alguien te esta esperando para el trueque!!
        </h4>
    </div>
    <div>
        <nav>
            <div>
            {% if confirma or solicitud or error %}

            {% else %}

            {% if user%}

                <div><button class="boton"><a href="{{url_for('interfaz_cuenta')}}">Cuenta de {{nombre_cuenta}}</a></button></div>
                <div> <button class="boton"><a href="{{url_for('interfaz_publicar')}}">Publicar</a></button> </div>
                <div><button class="boton"><a href="{{url_for('logout')}}">Salir</a></button></div>

            {% else %}

                <div><button class="boton"><a href="{{url_for('interfaz_login')}}">Ingreso</a></button></div>
                <div><button class="boton"><a href="{{url_for('interfaz_registro')}}">Registro</a></button></div>  

            {% endif %}
            {% endif %}
            </div>
        </nav>

    

    </div>
</header> 
<body>
{% block body %}

{% endblock %}
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
<div class="sep"><br></div>
<footer>&copy;2021 Derechos reservados página realizada por Jhoguia</footer>
</html>