{% extends 'layout.html' %}

{% block body %}

    {% if email %}

        <script>
        alert('El email ya se encuentra registrado.');
        window.location = '{{url_for("interfaz_registro")}}'
        </script>

    {% elif contrasena %}

        <script>
        alert('Las contraseñas no coinciden.');
        window.location = '{{url_for("interfaz_registro")}}'
        </script>

    {% elif i %}

        <script>
            alert('Los datos ingresados no corresponden o ya están registrados.');
            window.location = '{{url_for("interfaz_registro")}}'
        </script>

    {% endif %}


    <div class="container">

        <form id="signup" action="{{url_for('registro')}}" method="POST">
    
            <div class="header">
            
                <h3>REGISTRO</h3>
                
            </div>
            
            <div class="sep"></div>
    
            <div class="inputs">
                <input id="email" type="email" name="email" required placeholder="Email" autofocus>
                <input type="password" name="contrasena" required placeholder="Contraseña" autofocus>
                <input type="password" name="contrasena2" required placeholder="Confirmación contraseña" autofocus>
                <input type="text" name="nombre" required placeholder="Nombres y apellidos" autofocus>
                <input type="text" name="documento" required placeholder="Número de documento" autofocus>
                <input type="text" name="direccion" required placeholder="Dirección de residencia">
                <input type="text" name="celular" required placeholder="Número celular" autofocus>
                <input type="submit" value="Registrarse">
                <br>
                <p>¿Ya estás registrado? <a href="{{url_for('interfaz_login')}}">Login</a></p>
            
            </div>
    
        </form>
    
    </div>

{% endblock %}