nav{
    background-image: url("../../../assets/banner.jpg");
    display: flex;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}

.titulo {
    font-size: 6rem;
    margin-left:8%;
}