<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Clasificados</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
    <body>
        <header>
            <h1 class="title">MIS CLASIFICADOS.COM</h1>
                <nav>
                    <form action="../../form-result.php" method="post">
                        <a class="pag-principal" href="index.html">Página principal</a>
                        <input class="boton btn-search" type="search" name="BUSQUEDA" placeholder="Encuentra lo que buscas!" />
                        <input class="btn-submit" type="submit" value="Buscar" />
                    </form>
                </nav>       
        </header>
        <div class="cuadricula">
            <h2>TUS CLASIFICADOS</h2>
            <h3>Hola Jorge, estos son los anuncios que has publicado.</h3>
            <div class="cuadro uno">
                    <div class="titulo-cuadro"><h2>vendo bicicleta para montaña GW</h2></div>
                    <div class="img">
                        <img src="../static/images/1.jpg" onclick="OpenPopup(this)">
                    </div>
                    <div class="descripcion">
                        <p class="texto">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, voluptate.
                        </p>
                        <p class="enlace">
                            <a href="#">editar</a>
                        </p>
                    </div>
            </div>

            <div class="cuadro uno">
                <div class="titulo-cuadro"><h2>vendo bicicleta para montaña GW</h2></div>
                <div class="img">
                    <img src="../static/images/1.jpg" onclick="OpenPopup(this)">
                </div>
                <div class="descripcion">
                    <p class="texto">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, voluptate.
                    </p>
                    <p class="enlace">
                        <a href="#">editar</a>
                    </p>
                </div>
        </div>

        <div class="cuadro uno">
            <div class="titulo-cuadro"><h2>vendo bicicleta para montaña GW</h2></div>
            <div class="img">
                <img src="../static/images/1.jpg" onclick="OpenPopup(this)">
            </div>
            <div class="descripcion">
                <p class="texto">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, voluptate.
                </p>
                <p class="enlace">
                    <a href="#">editar</a>
                </p>
            </div>
        </div>
        

        <div class="crear_anuncio">
            <div class="titulo-cuadro"><h2>CREAR UN NUEVO CLASIFICADO <p class="enlace">
                <a href="#">crear</a>
            </p> </h2></div>
                
            </div>
        </div>
    </div>
    </body>
</html>