<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tittle}}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
</head>
    {% if user_data %}
        <body onload="contacto('{{nombre}}', '{{email}}', '{{telefono}}')">
    {% else %}
        <body>
    {% endif %}
        <header>
            <h1 class="title">CLASIFICADOS.COM</h1>
                <nav>
                    <form action="" method="POST">
                        <a class="pag-principal" href="{{url_for('index')}}">Clasificados</a>
                        {% if main == 1%}
                        <a class="subir btn" href="{{url_for('subir_clasificado')}}">Subir clasificado</a>
                        <input class="search btn" type="search" name="busqueda" placeholder="¡Encuentra lo que buscas!" />
                        <input type="submit" class="buscar btn" value="Buscar" />
                        {% endif %}
                    </form>
                </nav>       
        </header>
{% block body %}

{% endblock %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{url_for('static', filename='js/sweetAlert.js')}}"></script>
    </body>
</html>
