{% extends 'layout.html' %}

{% block body %}
        <div class="formulario-subida">
            <form class="form-subir-clasificado" action="{{url_for('publicar_clasificado')}}" method="POST" enctype="multipart/form-data">
                <h2>Producto</h2>
                <input class="input-subida" type="text" required name="nombrepro" placeholder="Nombre del producto"/>
                <textarea required name="descripcion">Descripción</textarea>
                <input class="input-subida" type="file" id="file" required name="archivo"/>
                <div id="preview"></div>
                <h2>Datos del propietario</h2>
                <input class="input-subida" type="text" required name="nombre" placeholder="Nombre completo"/>
                <input class="input-subida" type="text" required name="documento" placeholder="Documento"/>
                <input class="input-subida" type="email" required name="email" placeholder="Email"/>
                <input class="input-subida" type="tel" required name="telefono" placeholder="Número celular"/>
                <input class="btn publicar" type="submit" value="Publicar">
            </form>
        </div>
    <script src="{{url_for('static', filename='js/previsualizar_imagen.js')}}"></script>
{% endblock %}