{% extends "layout.html" %}
{% block head %}

    <body> 
        <h1>Bienvenidos a mi sitio web matemático</h1>
        Si quieres sumar:
        <a href="/interfazsuma">Sumar aqui</a>
        <br>
        Si quieres restar:
        <a href="/interfazresta">Restar aqui</a>
        <br>
        Si quieres multiplicar:
        <a href="/interfazmultiplicar">multiplicar aqui</a>
        <br>
        Si quieres dividir:
        <a href="/interfazdividir">dividir aqui</a>
        <br>
        Si quieres modulo:
        <a href="/interfazmodulo">modulo aqui</a>
        <br>
        Si quieres valor_absoluto:
        <a href="/interfaz_valor_absoluto">Valor absoluto aqui</a>
        <br>
        Si quieres factorial:
        <a href="/interfazfactorial">factorial aqui</a>  
        <br>
        Si quieres promedio:
        <a href="/interfazpromedio">promedio aqui</a> 
        <br>
        Si quieres moda:
        <a href="/interfazmoda">Moda aqui</a>
        <br>
        Si quiers calcular el área de un rectángulo
        <a href="/interfaz_area_rectangulo">Área de un rectángulo aqui</a>
        <br>
        Si quiers calcular el perímetro de un rectángulo
        <a href="/interfaz_perimetro_rectangulo">Perímetro de un rectángulo aqui</a>
        <br>
        Si quiers calcular el área de un triángulo
        <a href="/interfaz_area_triangulo">Área de un tritángulo aqui</a>
        <br>
        Si quiers calcular el perímetro de un triángulo
        <a href="/interfaz_perimetro_triangulo">Área de un tritángulo aqui</a>
        <br>
        Si quiers calcular el área de un círculo
        <a href="/interfaz_area_circulo">Área de un círculo aqui</a>
        <br>
        Si quiers calcular el perímetro de un círculo
        <a href="/interfaz_perimetro_circulo">Perímetro de un círculo aqui</a>
        <br>
        Si quiers calcular el volumen de una esfera aqui
        <a href="/interfaz_volumen_esfera">Volumen de una esfera aqui</a>
        <br>
        Si quiers calcular el volumen de un cubo aqui
        <a href="/interfaz_volumen_cubo">Volumen de un cubo aqui</a>
        
        
    </body>
</html>
{% endblock %}
