{% extends 'layout.html' %}

{% block body %}

    <div class="header">
        <div>
            <center>
            <h2>MIS PRODUCTOS</h2>
            </center>
        </div>

    </div>
    <div class="flex-contenedor">

    {% if permitir%}
        {% for i in range(largor) %}
            {% if productos[i][6] == '1' %}
                <div class="item"> 
                    <h3>{{productos[i][9]}}: {{productos[i][1]}}</h3><br>
                    <img class="img" src="../static/imgs_productos/{{productos[i][10]}}"><br>
                    <p>{{productos[i][2]}}</p><br>
                    <h3>Cambio por: {{productos[i][4]}}</h3><br>
                    <a class="btn_borrar" href="http://127.0.0.1:5000/eliminar_producto/{{productos[i][0]}}">ELIMINAR</a>
                    <a class="btn_editar" href="http://127.0.0.1:5000/editar_producto/{{productos[i][0]}}">EDITAR</a>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="item">
            <h3>En este momento no tienes productos para cambiar. :(</h3>
        </div>
    {% endif %}

    </div>

{% endblock %}