{% extends 'layout.html' %}

{% block body %}

    <div class="container">

        <form id="signup" action="{{url_for('publicar')}}" method="POST" enctype="multipart/form-data">
    
            <div class="header">
            
                <h3>PUBLICAR</h3>
                
            </div>
            
            <div class="sep"></div>
              
                <label for="pos">Categoría:</label>
                <select class="select-css" name="PoS" id="pos" required>
                    <option value="" selected>Selecciona</option>
                    <option value="Producto">Producto</option>
                    <option value="Servicio">Servicio</option>
                </select>
                
            <class class="inputs">

                <input type="text" name="encabezado" required placeholder="Ofrezco: " />
                <input type="text" name="cambio" required placeholder="Solicito: " />        
                <textarea type="text" name="duser_message" required placeholder="Descripcion"maxlength="4096"style="width: 345px; height: 100px;"></textarea><br><br>
                <input type=file size=100px name="file1" id="file" required placeholder="Insertar imagen">
                <div id="preview"></div>
                <div>
                <hr>
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
                </div>
            </div>   
        </form>
    
    </div>
<script src="{{url_for('static', filename='js/img.js')}}"></script>
{% endblock %}