{% extends 'layout.html' %}

{% block body %}
    {% if mismo%}
    
        <script>
            alert("No puedes solicitar un truque para tus productos.");
            window.location = '{{url_for("index")}}'
        </script>
    
    {% else %}
        <div class="container">
            <form id='signup' action="http://127.0.0.1:5000/trueque/{{idproducto}}" method="POST">
                <div class="header">
                    <h3>Solicitud de trueque</h3>
                </div>
                <div class="inputs">
                    <input type="text" name="ofrezco" required placeholder="Te ofrezco..."/>
                    <br>
                    <label for="des">Indica las especificaciones de lo que ofreces: </label>
                    <br>
                    <textarea name="descripcion" required></textarea>
                    <input type="submit" value="Enviar solicitud">
                </div>
            </form>
        </div>

    {% endif %}

{% endblock %}